# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    branches:
      - main
      - release/**
  schedule:
    - cron: "0 0 * * 0"

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-tags: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: ${{ matrix.python-version }}
        channels: conda-forge,defaults
        auto-update-conda: true
        mamba-version: "*"
    - name: Install dependencies
      run: |
        mamba install -n test pip setuptools
        mamba install -n test pip setuptools pre-commit setuptools_scm
        mamba install -n test jax numpy scipy astropy "gwpopulation>=1" pytest-cov
        conda run -n test pre-commit install
    - name: Install gwpopulation
      run: |
        conda run -n test python -m pip install .[test]
    - name: List installed
      run: |
        conda list
    - name: Run pre-commit checks
      run: |
        conda run -n test pre-commit run --all-files --verbose --show-diff-on-failure
    - name: Test with pytest
      run: |
        conda run -n test pytest --cov wcosmo -ra --color yes --cov-report=xml --junitxml=pytest.xml
    - name: Publish coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.xml
        flags: python${{ matrix.python-version }}
    - name: Coverage report
      run: conda run -n test python -m coverage report --show-missing
    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: pytest-${{ matrix.python-version }}
        path: pytest.xml
